layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  cwd "~/.config/nix-darwin"
  tab name="Config" focus=true {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane name="Nvim" cwd="home/neovim/nvim" command="nvim"{
          args "init.lua"
        } 
        pane name="Zellij" cwd="home/zellij/zellij" command="nvim"{
          args "config.kdl"
        } 
      }
      pane split_direction="horizontal" {
        pane name="Nix-Darwin" command="nvim"{
          args "flake.nix"
        } 
        pane name="Terminal"{
          cwd "~"
        } 
      }
    }
  }
}
