layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  cwd "~/.config/nix-darwin"
  tab name="Config" focus=true {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane name="Nvim" cwd="home/neovim/nvim" edit="init.lua"
        pane name="Zellij" cwd="home/zellij/zellij" edit="config.kdl"
      }
      pane split_direction="horizontal" {
        pane name="Nix-Darwin" edit="flake.nix"
        pane name="Terminal"{
          cwd "~"
        } 
      }
    }
  }
}
