layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  cwd "~/Code/GO/ARINEX"
  tab name="1. Rails Backend" cwd="charlie/dc-platform-web"{
    pane split_direction="vertical" {
      pane command="nvim" size="65%"{
        args "Gemfile"
      }
      pane split_direction="horizontal" size="35%" {
        pane name="Rails server" command="bundle"{
          args "exec" "rails" "server"
        }
        pane name="Rails FE" command="./bin/webpack-dev-server"
        pane name="Redis server" command="redis-server"
        pane name="Sidekiq" command="bundle"{
          args "exec" "sidekiq"
        }
        pane name="Rails console"
        pane focus=true name="Terminal"
      }
    }
  }

  tab name="2. Web Attendee" cwd="alan/aaa-web-attendee-rego"{
    pane split_direction="vertical"{
      pane command="nvim" size="65%" {
        args "package.json"
      }
      pane split_direction="horizontal" size="35%" {
        pane name="React Server" command="yarn"{
          args "start"
        }
        pane focus=true name="Terminal"
      }
    }
  }

  tab name="3. Web Admin" cwd="charlie/aaa-web-admin"{
    pane split_direction="vertical"{
    pane command="nvim" size="65%" {
      args "package.json"
    }
      pane split_direction="horizontal" size="35%" {
        pane name="React Server" command="yarn"{
          args "start"
        }
        pane focus=true name="Terminal"
      }
    }
  }
  tab name="4. GO API" cwd="charlie/aaa-go-api"{
    pane split_direction="vertical"{
    pane command="nvim" size="65%" {
      args "package.json"
    }
      pane split_direction="horizontal" size="35%" {
        pane name="GO Server" command="go"{
          args "run" "bin/server/main.go"
        }
        pane focus=true name="Terminal"
      }
    }
  }
}
